/**
 * Created by huwenting on 2/23/16.
 */

body {
    background-color: #001A57;
    /*background-image: url("bg1.jpg");*/
    background-attachment: fixed;
    background-size: cover;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    font-family: "Lato";
    font-weight: 500;
    font-size: 20px;
    color: white;
}

.textbox{
    width: 80%;
    /* opacity: 0.5; */
    background-color:#1B2C63;
    background-position: center;
    border-radius: 50px;
    margin: auto;
    filter: drop-shadow(8px 8px 10px #000000);
    -webkit-filter: drop-shadow(8px 8px 10px #000000); /* Chrome, Safari, Opera */
}

.textbox a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}

/*this is the style for the bodypart*/
#bodywrap {
    height: 400px;
    /*background-image: url(/separator2.png);*/
    background-size: 100% 50%;
    background-repeat: no-repeat;
    text-align:center;
}




/*Reserved for future use*/
.my-container {
    width: 500px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.img-holder {
    position: relative;
}

.img-holder .link {
    position: absolute;
    bottom: 10px; /*your button position*/
    right: 10px; /*your button position*/
}




/*navigation module*/

nav {
    margin : 5px auto;
    width  : 100%;
    height: 74px;
    z-index:100;
}
.menu2 {
    border-radius : 30px;
}
.menu2:after , menu:before {
    display : block;
    content : ' ';
}
#menubutton {
    float: left;
    background-image: url("show-menu-icon.png");
    background-size: cover;
    height:44px;
}
/*No floating elements allowed on the left or the right side of Menu*/
/*.menu2:after {
    clear : left;
}*/
li {
    list-style-type: none;
    background: linear-gradient(rgb(0, 26, 87) 85%, #000000 100%);
    float: right;
    margin:auto;
    cursor: pointer;
    padding: 10px 10px;
    border-top: 3px solid rgba(200,200,255,0.5);
    border-bottom: 3px solid rgba(50,50,50,0.4);
    height: 74px;
    border-radius : 10px 10px 10px 10px;

}
li a {
    color : white;

}
/*li:last-child {
    border-radius : 10px 0 0 10px;
    border-left : 3px solid rgba(50,50,50,0.4);
}
li:first-child {
    border-radius : 0 10px 10px 0;
    border-right    : 3px solid rgba(200,200,255,0.5);
}*/
a {
    display : block;
    padding : 10px 13px;
    font-size : 36px;
    text-decoration : none;
    border-radius   : 5px;
    position        : relative;
    top   : 0;
    color : #000000;
    transition : all .4s;
}
li:hover a {
    top   : -10px;
    color : #001A57;
    background-color: #fff;
    box-shadow : 0 0 5px 0 rgba(255, 255, 255, 0.7);
    transition : all .4s;
}
li a:after {
    display  : block;
    content  : '';
    position : absolute;
    top  : 100%;
    left : 42%;
    border-style : solid;
    border-color : transparent;
    border-width : 5px 5px 0 5px;
    transition   : all .4s;
}
li:hover a:after {
    border-color : white transparent transparent transparent;
    transition   : all .4s;
}
/*************************************/
menu {
    width : 100%;
}
menu a {
    font-family: Arial, Helvetica, sans-serif;
    font-size   : 24px;
    /*font-style  : italic;*/
    text-transform : capitalize;
}
menu li {
    border-right  : 1px solid rgba(200,200,255,0.5);
    border-left   : 1px solid rgba(40,40,40,0.2);
}
.selected {
    top   : -10px;
    color : #001A57;
    background-color: #fff;
    box-shadow : 0 0 5px 0 rgba(255, 255, 255, 0.7);
    transition : all .4s;
}
.selected:after {
    border-color : white transparent transparent transparent;
    transition   : all .4s;
}

.login li{
    float   : left;
    height: 74px;
}

.login li:last-child {
    border-radius : 10px 10px 10px 10px;

}

.content1{
    margin: auto;
    width: 100%;
    height: 700px;
    position: absolute;
    left: 6px;
    top: 198px;
    z-index: 1;
    overflow: hidden;
    border-bottom: 9px solid #718da6;
    background: url(/blurseperater.png) 50% 50% no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
.content1 ul{ }
.content1 ul li{ width:988px; height:514px; border-bottom: 9px solid #718da6; background: url(blurseperater.png) 0 0 no-repeat; position:absolute;}