.bar {
    fill: #5D9EE8;
}

.bar:hover {
    fill: #4975E7;
}

.axis {
    font: 15px sans-serif;
    fill: #5D9EE8;
}

.axis path,
.axis line {
    fill: none;
    stroke: #4975E7;
    shape-rendering: crispEdges;
}

.x.axis path {
    stroke: #4975E7;
}

